body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
    padding-top: 50px;
}

.container {
    background: white;
    width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

input {
    width: 80%;
    padding: 8px;
    margin: 8px 0;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

#resultBox {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
}