.container {
  width: 400px;
  margin: 30px auto;
  text-align: center;
}

.box {
  margin-top: 15px;
  padding: 15px;
  background-color: lightgreen;
  border: 1px solid green;
}

.student {
  padding: 8px;
  margin: 5px;
  background-color: #eee;
  border-radius: 5px;
}

.active {
  margin-top: 15px;
  padding: 15px;
  background-color: lightgreen;
}

.inactive {
  margin-top: 15px;
  padding: 15px;
  background-color: lightcoral;
}